.dashboardContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 20px;
  transition: all 0.3s ease-in-out;
}

.title {
  font-size: 2rem;
  margin-bottom: 20px;
  text-align: center;
}

.buttonsContainer {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.button {
  padding: 10px 20px;
  font-size: 1rem;
  color: #fff;
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 200px;
  text-align: center;
  transition: background-color 0.3s, transform 0.3s ease;
}

.button:hover {
  background-color: #0056b3;
  transform: translateY(-2px);
}

.dropdown {
  display: flex;
  flex-direction: column;
  gap: 10px;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.dropdownButton {
  padding: 8px 15px;
  font-size: 1rem;
  color: #fff;
  background-color: #28a745;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 200px;
  text-align: center;
  transition: background-color 0.3s, transform 0.3s ease;
}

.dropdownButton:hover {
  background-color: #218838;
  transform: translateY(-2px);
}

.dropdown {
  opacity: 1;
}

.subBtnContainer {
  display: flex;
  gap: 10px;
}
